@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #EFF5F5;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background-color: #24262b;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #EFF5F5;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li {
    font-size: 18px;
    text-decoration: none;
    color: #EFF5F5;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-links ul li:hover{
    color: white;
    padding-left: 6px;
}

.social-redes a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: gray;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}
.social-redes a img{
    width: 20px;
    height: 20px;
}

/* contacto pages */

.mainContacto{
    padding: 1% 0 10% 0;
}

.mainContacto h2 {
    color: #494B4D;
    font-size: 2.5em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px Opx; 
    padding: 50px 0;
}


body .mainContacto {
    margin: auto; }
    body .mainContacto form {
    background-color: #f8f5ee;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    font-size: 1.0em;
    margin: 0 auto;
    padding: 20px; 
}
.mainContacto form .field {
    border: 1px solid #ccc;
    padding: 10px; 
}
.mainContacto form .field:focus {
    border-color: #4ea5f1; 
}

.mainContacto form .center-content {
    text-align: center; 
}
.mainContacto form .center-content .btn {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); 
}
.mainContacto form .center-content .btn-green {
    color: white;
    background-color: #3CC93F; 
}
.mainContacto form .center-content .btn-green:hover {
    background-color: #37B839; 
}
.mainContacto form .center-content .btn-green:active {
    background-color: #29962A; 
}
