/* google font 
font-family: 'Belanosima', sans-serif;
font-family: 'Poppins', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Poppins:wght@100;200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #EFF5F5;
}

/* banner */

.mainPrincipal .divBanner {
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.mainPrincipal .divBanner img {
    width: 100%;
    height: 50em;
}

.titulo-banner {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    /* Centrar*/
    color: white;
    font-size: 8vw;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
}

@media (max-width:600px){
    .mainPrincipal .divBanner img{
        height: 50%;
    }
}
@media (max-width: 400px) {
    .titulo-banner {
        font-size: 11vw;
    }

}


section {
    margin: 5% 0;
}


.mainPrincipal section .div-h2 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

/* quienes somos */
.mainPrincipal .section-nosotros {
    width: 100%;
}

.mainPrincipal .section-nosotros .div-nosotros {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainPrincipal .section-nosotros .div-nosotros img {
    width: 40%;

}

.mainPrincipal .section-nosotros .div-nosotros p {
    width: 40%;
}

@media (max-width:650px){
    .mainPrincipal .section-nosotros .div-nosotros{
        flex-direction: column;
    }
    .mainPrincipal .section-nosotros .div-nosotros img {
        width: 70%;
    
    }
    
    .mainPrincipal .section-nosotros .div-nosotros p {
        width: 70%;
    }
}


/* porque elegirnos */

.mainPrincipal .section-porque {
    width: 100%;
}

.mainPrincipal .section-porque .div-porque {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainPrincipal .section-porque .div-porque img {
    width: 40%;

}

.mainPrincipal .section-porque .div-porque p {
    width: 40%;
}
@media (max-width:650px){
    .mainPrincipal .section-porque .div-porque{
        flex-direction: column;
    }
    .mainPrincipal .section-porque .div-porque img {
        width: 70%;
    
    }
    
    .mainPrincipal .section-porque .div-porque p {
        width: 70%;
    }
}

/* propuesta educativa */


/* noticias */

.mainPrincipal .section-noticias {
    width: 100%;
    margin-bottom: 15%;
}

.mainPrincipal .section-noticias .div-noticias {
    display: flex;
    justify-content: space-around;
}

.mainPrincipal .section-noticias .div-noticias div {
    width: 30%;
}
@media (max-width:600px){
    .mainPrincipal .section-noticias .div-noticias{
        flex-direction: column;
        align-items: center;
    }
    .mainPrincipal .section-noticias .div-noticias div{
        width: 70%;
    }
}

/* footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #24262b;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #EFF5F5;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li {
    font-size: 18px;
    text-decoration: none;
    color: #EFF5F5;
}


.social-redes a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: gray;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

.social-redes a:hover {
    background-color: #00c3ff;
}

.social-redes a img {
    width: 20px;
    height: 20px;
}

@media (max-width:600px){
    .footer .container .footer-row{
        flex-direction: column;
        align-items: center;
    }
}

/* contacto pages */

.mainContacto {
    padding: 2% 0 10% 0;
}

.mainContacto h2 {
    color: #494B4D;
    font-size: 2.5em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0;
    padding: 0 0 15px 0;
}


body .mainContacto {
    margin: auto;
}

body .mainContacto form {
    background-color: #f8f5ee;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    font-size: 1.0em;
    margin: 0 auto;
    padding: 20px;
}

.mainContacto form .field {
    border: 1px solid #ccc;
    padding: 10px;
}

.mainContacto form .field:focus {
    border-color: #4ea5f1;
}

.mainContacto form .center-content {
    text-align: center;
}

.mainContacto form .center-content .btn {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.mainContacto form .center-content .btn-green {
    color: white;
    background-color: #3CC93F;
}

.mainContacto form .center-content .btn-green:hover {
    background-color: #37B839;
}

.mainContacto form .center-content .btn-green:active {
    background-color: #29962A;
}